:host {
  display: flex;
  height: 90%;
}
.mat-card {
  width: 50%;
  margin: auto;
}

.form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form-container > * {
  width: 80%;
}
